<html>
    <head>
        <% include template/header %>
    </head>
    <body>
        <% include template/navbar %>
        <% include template/banner %>
        <div class="container" style="width: 70%; margin-left: auto, margin-right: auto; padding-top: 70px">
        <h1>This web dashboard addresses the following research questions:</h2>
        <ul class="list-group" style="padding-top: 30px">
              <li class="list-group-item" ><h3>How do the institutions compare to other institutions based on the amount of documents publish?</h3></li>
              <li class="list-group-item" ><h3>Are certain keywords in publication titles more prevalent for a geographical region?</h3></li>
        </ul>
        </div>
        <div class="container">
        </div>
        <% include template/footer %>
    </body>
</html>
