<html>
    <head>
        <% include template/header %>
    </head>
    <body>
        <% include template/navbar %>
        <% include template/banner %>

        <div class="container">
        </div>
        <% include template/footer %>
    </body>
</html>
