<html>
    <head>
        <% include template/header %>
    </head>
    <body>
        <!--% include modules/login %-->
        <% include modules/modal %>
        <div class="stack">
            <div class="layout">
            </div>
                <a class="custom-btn blue" id="login-btn" tabindex="2">Log In</a>
            </div>
        </div>
    </body>
</html>

