<html>
    <head>
        <% include template/header %>
    </head>
    <body>
        <!--% include modules/login %-->
        <% include modules/modal %>
        <div class="stack">
            <div class="layout">
            </div>
                <div class="login">
                    <h1>Please Authenticate.</h1>
                    <form id="formlogin">
                        <input type="text" name="u" placeholder="Username" required="required" />
                        <input type="password" name="p" placeholder="Password" required="required" />
                        <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>

