

<html>
    <head>
        <% include template/header %>
        <link rel="stylesheet" href="css/css-ejs/publications.css">
    </head>
    <body>
        <% include template/navbar %>
        

            
<meta charset="utf-8">
<style>

    .background {
      fill: none;
      pointer-events: all;
    }

    #states {
      fill: #aaa;
    }

    #states .active {
      fill: orange;
    }

    #state-borders {
      fill: none;
      stroke: #fff;
      stroke-width: 1.5px;
      stroke-linejoin: round;
      stroke-linecap: round;
      pointer-events: none;
    }

</style>
<body>

        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
        <script src="node_modules/datamaps/dist/datamaps.world.min.js"></script>
        <div class="container">
        <div id="wrap">
        <div id="container" style="position: relative; width: 1000px; height: 500px; display: block; float:left; "></div>

        <div class="bottomMenu">

        <h1><div id="Title">Countries</div></h1>
        <form action="">
        <input type="checkbox" name="countries" value="Canada">Canada<br>
        <input type="checkbox" name="countries" value="United States">United States<br>
        <input type="checkbox" name="countries" value="Canada">Russia<br>
        <input type="checkbox" name="countries" value="United States">Brazil<br>
        <input type="checkbox" name="countries" value="Canada">Mexico<br>
        <input type="checkbox" name="countries" value="United States">France<br>
        <input type="checkbox" name="countries" value="Canada">United Kingdom<br>
        <input type="checkbox" name="countries" value="United States">China<br>
        <input type="checkbox" name="countries" value="Canada">Korea<br>
        <input type="checkbox" name="countries" value="United States">India<br>
        <input type="checkbox" name="countries" value="Canada">Australia<br>
        <input type="checkbox" name="countries" value="United States">Japan<br>
        <input type="checkbox" name="countries" value="Canada">Indonesia<br>
        <input type="checkbox" name="countries" value="United States">Norway<br>
        <input type="checkbox" name="countries" value="Canada">Spain<br>
        <input type="checkbox" name="countries" value="United States">Italy</br>
        <input id="queryButton" type="button" onclick="myFunction()" value="Query">
        </form>
        </div>
        </div>



        <script>




        var bombMap = new Datamap({
            element: document.getElementById('container'),
            scope: 'world',
            geographyConfig: {
                popupOnHover: true,
                highlightOnHover: true
            },
            setProjection: function(element) {
            var projection = d3.geo.equirectangular()
              .center([19, -3])
              .rotate([4.4, 0])
              .scale(150)
              .translate([element.offsetWidth / 2, element.offsetHeight / 2]);
            var path = d3.geo.path()
              .projection(projection);

            return {path: path, projection: projection};
          },
            fills: {
                'USA': '#1f77b4',
                'RUS': '#9467bd',
                'PRK': '#ff7f0e',
                'PRC': '#2ca02c',
                'IND': '#e377c2',
                'GBR': '#8c564b',
                'FRA': '#d62728',
                'PAK': '#7f7f7f',
                defaultFill: '#EDDC4E'
            },
            data: {
                'RUS': {fillKey: 'RUS'},
                'PRK': {fillKey: 'PRK'},
                'PRC': {fillKey: 'PRC'},
                'IND': {fillKey: 'IND'},
                'GBR': {fillKey: 'GBR'},
                'FRA': {fillKey: 'FRA'},
                'PAK': {fillKey: 'PAK'},
                'USA': {fillKey: 'USA'}
            }
        });

             var bombs = [{
                name: 'Joe 4',
                radius: 25,
                yield: 400,
                country: 'USSR',
                fillKey: 'RUS',
                significance: 'First fusion weapon test by the USSR (not "staged")',
                date: '1953-08-12',
                latitude: 50.07,
                longitude: 78.43
              },{
                name: 'RDS-37',
                radius: 40,
                yield: 1600,
                country: 'USSR',
                fillKey: 'RUS',
                significance: 'First "staged" thermonuclear weapon test by the USSR (deployable)',
                date: '1955-11-22',
                latitude: 50.07,
                longitude: 78.43

              },{
                name: 'Tsar Bomba',
                radius: 15,
                yield: 50000,
                country: 'USA',
                fillKey: 'RUS',
                significance: 'Largest thermonuclear weapon ever tested—scaled down from its initial 100 Mt design by 50%',
                date: '1961-10-31',
                latitude: 53,
                longitude: -113
              }
            ];
            //draw bubbles for bombs
            bombMap.bubbles(bombs, {
                popupTemplate: function (geo, data) { 
                        return ['<div class="hoverinfo">' +  data.name,
                        '<br/>Payload: ' +  data.yield + ' kilotons',
                        '<br/>Country: ' +  data.country + '',
                        '<br/>Date: ' +  data.date + '',
                        '</div>'].join('');
                }
        });

            </script>


            
        </div>
        <% include template/banner %>
        <% include template/footer %>
    </body>
</html>