<link rel="stylesheet" href="css/css-ejs/searchbar.css">
<head>
    <meta charset="utf-8">
    <title>Search</title>
</head>

<body>
    <div class="container-fluid">
        <div id="search">
            <form id="searchform" style="margin:0px">
                <fieldset class="clearfix">
                    <input id="searchinput" type="search" style="text-align: center;" name="searchinput" required="required"/>
                    <button id="searchsubmit" type="submit" class="btn btn-primary btn-block btn-large"><span class="glyphicon glyphicon-search"></span></button>
                </fieldset>
            </form>
        </div>
    </div>
</body>
</html>